## START GITPOD INTEGRATION
## This section is managed by Gitpod. Any manual changes will be lost.
Include "gitpod/config"
## END GITPOD INTEGRATION

HashKnownHosts no

{{- if eq .chezmoi.os "darwin" }}

Host *
  AddKeysToAgent yes
  UseKeychain yes
{{- end }}

Host github.com
  User git
