{{ if and (eq .osid "linux-ubuntu") .golang -}}

#!/bin/sh

set -eufo pipefail

# https://launchpad.net/~longsleep/+archive/ubuntu/golang-backports

sudo add-apt-repository -y ppa:longsleep/golang-backports
sudo apt-get install -y golang

{{ end -}}