{{ if and (eq .osid "linux-debian" "linux-ubuntu") (not .ephemeral) -}}
#!/bin/bash

set -eufo pipefail

curl -s https://ohmyposh.dev/install.sh | bash -s -- -d ~/bin
~/bin/oh-my-posh font install meslo
{{ end -}}